{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "admin/css/changelists.css" %}">
{% endblock %}

{% block content %}
<div id="content-main">
    <div class="module filtered">
        <h2>주유소 목록</h2>
        
        <div class="results">
            <table id="result_list">
                <thead>
                    <tr>
                        <th scope="col">
                            <div class="text">{% trans '주유소 ID' %}</div>
                        </th>
                        <th scope="col">
                            <div class="text">{% trans '주유소명' %}</div>
                        </th>
                        <th scope="col">
                            <div class="text">{% trans '등록 카드 수' %}</div>
                        </th>
                        <th scope="col">
                            <div class="text">{% trans '카드 관리' %}</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for station in cl.result_list %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td>{{ station.username }}</td>
                        <td>
                            <a href="{% url 'admin:station-cards' station.id %}" 
                               style="color: #417690; text-decoration: none;">
                                <strong>
                                    {% if station.station_profile %}
                                        {{ station.station_profile.station_name }}
                                    {% else %}
                                        {{ station.username }}
                                    {% endif %}
                                </strong>
                            </a>
                        </td>
                        <td>{{ station.card_count }}</td>
                        <td>{{ station.view_station_detail|safe }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">등록된 주유소가 없습니다.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block pagination %}{% pagination cl %}{% endblock %} 